[Desktop Entry]
Name=Settings
Comment=Configure system settings and preferences
Exec=/usr/bin/peachos-settings
Icon=/usr/share/icons/peachos/systemsettings_icon.svg
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=org.peachos.Settings
Categories=GNOME;GTK;Settings;
OnlyShowIn=GNOME;
Keywords=Preferences;Settings;
