[Desktop Entry]
Type=Application
Name=Apps
Comment=Show all your apps
Icon=/usr/share/icons/peachos/apps.svg
Exec=peachos-applauncher
Terminal=false
NoDisplay=false
Categories=System;
X-GNOME-SingleWindow=false
